<%= simple_form_for(@noticia) do |f| %>
<%= f.error_notification %>

<div class="row">
  <div class="col-md-6">
    <%= f.association :corresponsal , input_html: { :class => "form-control form-group"}%>
    <%= f.input :ciudad , input_html: { :class => "form-control form-group"}%>
    <%= f.input :provincia, input_html: { :class => "form-control form-group"} %>
    <%= f.input :url_imagen_noticia, input_html: { :class => "form-control form-group"} %>
    <%= f.input :seccion, input_html: { :class => "form-control form-group"} %>
    </div>
    <div class="col-md-6">
      <%= f.input :contenido, input_html: { :class => "form-control form-group", rows: 16} %>
    </div>
    <div>
      <%= f.button :submit, "Crear Noticia", :class => "btn btn-primary btn-lg btn-block" %>
    </div>
  </div>
<% end %>