<p id="notice"><%= notice %></p>

<%= link_to 'Atras', noticias_path , class: "btn btn-success" %>

<hr/>
<div class="row">
<div class="col-md-6">
<%= link_to 'Editar', edit_noticia_path %>
<p>
  <strong>Corresponsal:</strong>
  <%= @noticia.user_id %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @noticia.titulo %>
</p>
<p>
  <%= image_tag(@noticia.url_imagen_noticia, :class => "img-rounded" , :style => "width: 100%;" ) %>
</p>
</div>
<div class="col-md-6">
  <p>
  <strong>Contenido:</strong>
  <%= @noticia.contenido %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @noticia.ciudad %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @noticia.provincia %>
</p>

<p>
  <strong>Seccion:</strong>
  <%= @noticia.seccion %>
</p>
</div>
</div>
