<%= simple_form_for(@corresponsal) do |f| %>
<%= f.error_notification %>
  <div class="row">
  <div class="col-md-6">
    <%= f.input :usuario , input_html: { :class => "form-control form-group"}%>
    <%= f.input :nombres , input_html: { :class => "form-control form-group"}%>
    <%= f.input :apellidos, input_html: { :class => "form-control form-group"} %>
  </div>
  <div class="col-md-6">
    <%= f.input :telefono_fijo, input_html: { :class => "form-control form-group"} %>
    <%= f.input :telefono_movil, input_html: { :class => "form-control form-group"} %>
  </div>
  <div>
   <%= f.button :submit, "Crear Corresponsal", :class => "btn btn-primary btn-lg btn-block" %>
 </div>
</div>
<% end %>