<h1>Nuestros corresponsales</h1>
<%= link_to 'Nuevo Corresponsal', new_corresponsal_path, class: "btn btn-success" %>
<hr/>
<div class="row">
<% @corresponsales.each do |corresponsal| %>
  <div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= corresponsal.usuario %></h3>
        </div>
        <div class="panel-body">
          <tbody>
      <tr>
        <td><%= corresponsal.nombres %></td>
        <td><%= corresponsal.apellidos %></td>
        <td><%= link_to 'Ver', corresponsal %></td>
        <td><%= link_to 'Editar', edit_corresponsal_path(corresponsal) %></td>
      </tr>
    <% end %>
  </tbody>


