<!DOCTYPE html>
<html lang="es">
<head>
  <title>Colegioperiodistasica</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body id="<%= controller.controller_name %>">
<header>
	 <%= render 'layouts/header' %>
</header>
<div class="container">
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-dismissable alert-<%= name == :notice ? "success" : "danger" %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>
	<%= yield %>
</div>
</body>
<footer>
	 <%= render 'layouts/footer' %>
</footer>
</html>
